/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);

  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-text-green: hsla(160, 100%, 37%, 1);

  --vt-c-text-white-soft: var(--vt-c-white-soft);

  // LIGHT theme
  // Beige #EBE4D1 rgb(235, 228, 209)
  --vt-c-text-beige: #ebe4d1;
  --vt-c-beige: #ebe4d1;
  // Grey #B4B4B3 rgb(180, 180, 179)
  --vt-c-text-grey: #b4b4b3;
  --vt-c-grey: #b4b4b3;
  // Navy #26577C rgb(38, 87, 124)
  --vt-c-text-navy: #26577c;
  --vt-c-navy: #26577c;
  // Orange #E55604 rgb(229, 86, 4)
  --vt-c-text-orange: #e55604;
  --vt-c-orange: #e55604;

  // // Orange #CD5C08 rgb(205, 92, 8)
  // --vt-c-text-orange-soft: rgb(205, 92, 8);
  // --vt-c-orange-soft: rgb(205, 92, 8);
  // // Beige #F5E8B7 rgb(245, 232, 183)
  // --vt-c-text-beige-soft: rgb(245, 232, 183);
  // --vt-c-beige-soft: rgb(245, 232, 183);
  // // Sage #C1D8C3 rgb(193, 216, 195)
  // --vt-c-text-sage: rgb(193, 216, 195);
  // --vt-c-sage: rgb(193, 216, 195);
  // // Teal #6A9C89 rgb(106, 156, 137)
  // --vt-c-text-teal: rgb(106, 156, 137);
  // --vt-c-teal: rgb(106, 156, 137);

  // DARK theme
  // Black  #191919 rgb(25, 25, 25)
  --vt-c-black: #191919;
  --vt-c-text-black: var(--vt-c-black);
  // Navy #2D4263 rgb(45, 66, 99)
  --vt-c-navy: #2d4263;
  --vt-c-text-navy: var(--vt-c-navy);
  // Red #C84B31 rgb(200, 75, 49)
  --vt-c-red: #c84b31;
  --vt-c-text-red: var(--vt-c-red);
  // Beige #ECDBBA rgb(236, 219, 186)
  --vt-c-beige: #ecdbba;
  --vt-c-text-beige: var(--vt-c-beige);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-beige);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-navy);
  --color-text: var(--vt-c-text-navy);
  
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-beige);
    --color-text: var(--vt-c-text-beige);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
  Comfortaa,  
  Mooli,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
