@font-face {
    font-family: 'Mooli';
    src: local("Mooli-Regular"),
    url('@/assets/fonts/Mooli-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Comfortaa';
    src: local("Comfortaa-Regular"),
    url('@/assets/fonts/Comfortaa-Regular.ttf') format('truetype');
  }