@import './base.scss';
@import './fonts.scss';

#app {
  // max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.text-theme {
  text-decoration: none;
  color: var(--vt-c-text-orange);
  transition: 0.4s;
}
.language-selector {
  color: var(--vt-c-text-orange) !important;
}

.btn-theme {
  background-color: var(--vt-c-grey) !important;
  color: var(--vt-c-orange) !important;
}

header {
  line-height: 1.5;
  padding: 0.8rem;
  background-color: var(--vt-c-navy);
  color: var(--vt-c-beige)
}

main {
  padding: 0 0.8rem;
}

h1 {
  font-weight: 500;
  position: relative;
  top: -10px;
}

h3 {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.9rem;
}

nav a.router-link-exact-active {
  color: var(--color-background);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 0.4rem;
  font-size: 0.7rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.page {
  margin-top: 2.5rem;
  > div {
    width: 100%;
  }
  padding-bottom: 2rem;
}
.d-h1 {
  font-size: 1.8rem !important;
}
.d-h2 {
  font-size: 1.5rem !important;
}
.d-h3 {
  font-size: 1.1rem !important;
}
.d-h4 {
  font-size: 1rem !important;
}
.d-h6 {
  font-size: 0.8rem !important;
}
.list {
  background-color: var(--vt-c-navy) !important;
}
.list-item {
  color: var(--vt-c-beige) !important;
}
@media (prefers-color-scheme: dark) {
  .btn-theme {
    background-color: var(--vt-c-navy) !important;
    color: var(--vt-c-text-beige) !important;
  }
  header {
    background-color: var(--vt-c-beige) !important;
    color: var(--vt-c-navy)
  }
  .list {
    background-color: var(--vt-c-beige) !important;
  }
  .list-item {
    color: var(--vt-c-navy) !important;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1280px) {
  body {
    display: flex;
    place-items: center;
  }
  .d-h1 {
    font-size: 2.6rem !important;
  }
  .d-h2 {
    font-size: 2.2em !important;
  }
  .d-h3 {
    font-size: 1.8em;
  }
  .d-h4 {
    font-size: 1.6rem !important;
  }
  .d-h6 {
    font-size: 1.4rem !important;
  }
  #app {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-columns: [sidebar] 550px [content] 2fr;
    grid-template-columns: [sidebar] 48vw [content] 2fr;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
    padding: 2rem;
  }

  header .wrapper {
    display: flex;
    // place-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
  }

  main {
    padding: 2rem;
  }

  .page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 0;
    > div {
      width: 50vw;
    }
  }
  .logo {
    margin: 0 2rem 0 0;
  }
  nav {
    a {
      font-size: 0.9rem;
    }
    text-align: left;
    margin-left: -1rem;
  }
}
