<template>
  <div class="item">
    <slot name="icon"></slot>
    <br />
    <p class="techno-name">
      <slot name="techno"></slot>
    </p>
  </div>
</template>

<style scoped lang="scss">
.item {
  text-align: center;
  margin: 0.2rem;
  padding: 0.2rem;
  width: 72px;
  height: 72px;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  border-radius: 8px;
  transition: all 500ms ease-out;
}
.techno-name {
  margin: 0 auto;
  text-align: center;
  font-size: 0.42rem;
}

@media (min-width: 1280px) {
  .item {
    margin: 0.6rem;
    padding: 0.5rem;
    width: 90px;
    height: 90px;
  }
  .techno-name {
    margin-top: -2px;
    font-size: 0.55rem;
  }
}
</style>
