<script setup>
import { computed } from 'vue'
import { useDisplay } from 'vuetify'
import TechnoListItem from '@/components/techno/TechnoListItem.vue'
import { useLocale } from 'vuetify'
import enLocale from '../../locales/en.json'
import frLocale from '../../locales/fr.json'
import IconMqtt from '../icons/IconMqtt.vue'
import IconMysql from '../icons/IconMysql.vue'
import IconMariadb from '../icons/IconMariadb.vue'
import IconPostgresql from '../icons/IconPostgresql.vue'
import IconSqlite from '../icons/IconSqlite.vue'
import IconPlatformio from '../icons/IconPlatformio.vue'
import IconDjango from '../icons/IconDjango.vue'
import IconApache from '../icons/IconApache.vue'
import IconNginx from '../icons/IconNginx.vue'
import IconCaddy from '../icons/IconCaddy.vue'
import IconFlutter from '../icons/IconFlutter.vue'
import IconArduino from '../icons/IconArduino.vue'

const { mobile } = useDisplay()
const { current } = useLocale()

const technologies = computed(() => {
  return current.value === 'fr' ? frLocale.technologies : enLocale.technologies
})

const isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
const svgIcons = {
  django: { icon: IconDjango, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  platformio: { icon: IconPlatformio, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  mysql: { icon: IconMysql, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  mariadb: { icon: IconMariadb, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  postgresql: { icon: IconPostgresql, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  sqlite: { icon: IconSqlite, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  mqtt: { icon: IconMqtt, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  nginx: { icon: IconNginx, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  apache: { icon: IconApache, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  caddy: { icon: IconCaddy, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  flutter: { icon: IconFlutter, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } },
  arduino: { icon: IconArduino, props: { color: isDarkMode ? '#ecdbba' : '#2d4263' } }
}

const technoNeedSvg = [
  'django',
  'platformio',
  'mysql',
  'mariadb',
  'postgresql',
  'sqlite',
  'mqtt',
  'nginx',
  'apache',
  'caddy',
  'flutter',
  'arduino'
]
</script>

<template>
  <div class="techno pa-md-3">
    <TechnoListItem v-for="techno in technologies" :key="techno">
      <template v-if="!technoNeedSvg.includes(techno)" #icon>
        <v-icon :size="mobile ? '48' : '56'" class="icon"> mdi-{{ techno }} </v-icon>
      </template>
      <template v-else #icon>
        <component
          class="icon img"
          :is="svgIcons[techno].icon"
          v-bind="svgIcons[techno].props"
        ></component>
      </template>
      <template #techno>
        {{ techno }}
      </template>
    </TechnoListItem>
  </div>
</template>
<style lang="scss" scoped>
.techno {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .img {
    font-size: 0.7rem;
    color: var(--vt-c-navy);
  }
  // .filter-svg {
  //   filter: invert(22%) sepia(10%) saturate(3017%) hue-rotate(178deg) brightness(93%) contrast(85%);
  // }
  .icon,
  .img {
    margin: auto;
    color: var(--color-text);
  }
}
</style>
