<script setup>
import { ref, computed } from 'vue'
import axios from 'axios'
import { useLocale } from 'vuetify'
const { t } = useLocale()

const languageConverter = {
  'C++': 'cpp',
  PHP: 'php',
  Python: 'python',
  JavaScript: 'javascript'
}

const languageToMdiConverter = (language) => {
  if (languageConverter[language]) {
    return languageConverter[language]
  }
  return null
}

const mklhxReposUrl = ref('https://api.github.com/users/mklhx/repos')
const mklhxRepos = ref([])

const greenponikGithubReposUrl = ref('https://api.github.com/orgs/greenponik/repos')
const greenponikGithubRepos = ref([])

const greenponikGitlabWebReposUrl = ref('https://gitlab.com/api/v4/groups/2467663/projects')
const greenponikGitlabWebRepos = ref([])

const greenponikGitlabFirmwareReposUrl = ref('https://gitlab.com/api/v4/groups/2295276/projects')
const greenponikGitlabFirmwareRepos = ref([])

const loading = ref(true)

const filteredGithubRepos = computed(() => {
  return greenponikGithubRepos.value.filter((repo) => {
    return !repo.archived
  })
})

const filteredGitlabWebRepos = computed(() => {
  return greenponikGitlabWebRepos.value.filter((repo) => {
    return (
      !repo.archived &&
      !(
        repo.name === 'firmware-manager-platform' ||
        repo.name === 'greenponik-documentation' ||
        repo.name === 'greenponik-blog' ||
        repo.name === 'greenponik-wp' ||
        repo.name === 'greenponik-api'
      )
    )
  })
})

const filteredGitlabFirmwareRepos = computed(() => {
  return greenponikGitlabFirmwareRepos.value.filter((repo) => {
    return (
      !repo.archived &&
      !(
        repo.name === 'water_level' ||
        repo.name === 'ESP32 Valve control' ||
        repo.name === 'ArduinoTestPlatform'
      )
    )
  })
})

const filteredGithubMklhxRepos = computed(() => {
  return mklhxRepos.value.filter((repo) => {
    return (
      !repo.archived &&
      !(
        repo.name === 'owlbear_game' ||
        repo.name === 'vue3-instagram-feed' ||
        repo.name === 'docker-symfony5-nginx' ||
        repo.name === 'vuejs-service-worker-demo'
      )
    )
  })
})
loading.value = true
axios
  .get(greenponikGitlabWebReposUrl.value, {
    headers: {
      'PRIVATE-TOKEN': import.meta.env.VITE_GITLAB_PRIVATE_TOKEN
    }
  })
  .then((response) => {
    greenponikGitlabWebRepos.value = response.data
    loading.value = false
  })

loading.value = true
axios
  .get(greenponikGitlabFirmwareReposUrl.value, {
    headers: {
      'PRIVATE-TOKEN': import.meta.env.VITE_GITLAB_PRIVATE_TOKEN
    }
  })
  .then((response) => {
    greenponikGitlabFirmwareRepos.value = response.data
    loading.value = false
  })

loading.value = true
axios.get(greenponikGithubReposUrl.value).then((response) => {
  greenponikGithubRepos.value = response.data
  loading.value = false
})

loading.value = true
axios.get(mklhxReposUrl.value).then((response) => {
  mklhxRepos.value = response.data
  loading.value = false
})

const handleScroll = () => {
  let target = document.getElementById('scroll-target')
  target.scrollTop > target.offsetHeight / 2
    ? document.getElementById('back-to-top').classList.add('floating-btn-active')
    : document.getElementById('back-to-top').classList.remove('floating-btn-active')
}

const scrollToTop = () => {
  const el = document.getElementById('scroll-target')
  if (el) {
    document
      .getElementById('scroll-target')
      .scrollTo({ top: el.offsetTop - 400, behavior: 'smooth' })
  }
}
</script>

<template>
  <div id="scroll-target" class="portfolio pb-12" v-on:scroll="handleScroll">
    <div class="my-5">
      <h2 class="text-theme d-h2">{{ t('$vuetify.views.portfolio.title') }}</h2>
      <p class="text-subtitle-1" v-html="t('$vuetify.views.portfolio.lead')"></p>
      <p class="text-subtitle-1" v-html="t('$vuetify.views.portfolio.section-1')"></p>
    </div>
    <div class="my-5">
      <h3 class="d-h3 text-theme">{{ t('$vuetify.views.portfolio.title-1') }}</h3>
      <div class="my-4">
        <p class="text-subtitle-2" v-html="t('$vuetify.views.portfolio.paragraph-1')"></p>
      </div>
      <div class="my-8">
        <span class="d-h6">
          <a href="https://gitlab.com/greenponik/web">
            # Private Web Projects Gitlab
            <v-icon icon="mdi-gitlab"></v-icon
          ></a>
        </span>
        <div class="greenponik-projects-wrapper">
          <v-lazy
            :min-height="100"
            :options="{ threshold: 0.5 }"
            transition="fade-transition"
            class="project"
            v-for="(repo, i) in filteredGitlabWebRepos"
            :key="i"
          >
            <a target="_blank" :href="repo.web_url">
              <v-card class="card px-1 py-2 ma-1">
                <div class="d-flex flex-no-wrap">
                  <v-avatar class="ma-1" size="55" rounded="1">
                    <v-img
                      cover
                      aspect-ratio="4/3"
                      src="https://avatars.githubusercontent.com/u/37108202?v=4"
                      :alt="repo.name + ' avatar'"
                    ></v-img>
                  </v-avatar>
                  <div>
                    <v-card-title class="card-title"> {{ repo.name }} </v-card-title>
                    <v-card-subtitle>
                      <v-icon
                        v-if="null !== languageToMdiConverter(repo.language)"
                        :icon="'mdi-language-' + languageToMdiConverter(repo.language)"
                      ></v-icon>
                      <v-icon>mdi-star</v-icon>{{ repo.stargazers_count }} <v-icon>mdi-eye</v-icon
                      >{{ repo.watchers_count }} <v-icon>mdi-source-fork</v-icon
                      >{{ repo.forks_count }}
                    </v-card-subtitle>
                  </div>
                </div>
              </v-card>
            </a>
          </v-lazy>
        </div>
      </div>

      <div class="my-8">
        <span class="d-h6">
          <a href="https://gitlab.com/greenponik/firmware">
            # Private Firmware Projects Gitlab
            <v-icon icon="mdi-gitlab"></v-icon
          ></a>
        </span>
        <div class="greenponik-projects-wrapper">
          <v-lazy
            :min-height="100"
            :options="{ threshold: 0.5 }"
            transition="fade-transition"
            class="project"
            v-for="(repo, i) in filteredGitlabFirmwareRepos"
            :key="i"
          >
            <a target="_blank" :href="repo.web_url">
              <v-card class="card px-1 py-2 ma-1">
                <div class="d-flex flex-no-wrap">
                  <v-avatar class="ma-1" size="55" rounded="1">
                    <v-img
                      cover
                      aspect-ratio="4/3"
                      src="https://avatars.githubusercontent.com/u/37108202?v=4"
                      :alt="repo.name + ' avatar'"
                    ></v-img>
                  </v-avatar>
                  <div>
                    <v-card-title class="card-title"> {{ repo.name }} </v-card-title>

                    <v-card-subtitle>
                      <v-icon
                        v-if="null !== languageToMdiConverter(repo.language)"
                        :icon="'mdi-language-' + languageToMdiConverter(repo.language)"
                      ></v-icon>
                      <v-icon>mdi-star</v-icon>{{ repo.stargazers_count }} <v-icon>mdi-eye</v-icon
                      >{{ repo.watchers_count }} <v-icon>mdi-source-fork</v-icon
                      >{{ repo.forks_count }}
                    </v-card-subtitle>
                  </div>
                </div>
              </v-card>
            </a>
          </v-lazy>
        </div>
      </div>
      <div class="my-8">
        <span class="d-h6">
          <a href="https://github.com/greenponik"
            ># Open Source Shared Projects on<v-icon icon="mdi-github"></v-icon
          ></a>
        </span>
        <div class="my-4">
          <p class="text-subtitle-2" v-html="t('$vuetify.views.portfolio.paragraph-2')"></p>
        </div>
        <div class="greenponik-projects-wrapper">
          <v-lazy
            :min-height="100"
            :options="{ threshold: 0.5 }"
            transition="fade-transition"
            class="project"
            v-for="(repo, i) in filteredGithubRepos"
            :key="i"
          >
            <a target="_blank" :href="repo.html_url">
              <v-card class="card px-1 py-2 ma-1">
                <div class="d-flex flex-no-wrap">
                  <v-avatar class="ma-1" size="55" rounded="1">
                    <v-img
                      cover
                      aspect-ratio="4/3"
                      :src="repo.owner.avatar_url"
                      :alt="repo.name + ' avatar'"
                    ></v-img>
                  </v-avatar>
                  <div>
                    <v-card-title class="card-title"> {{ repo.name }} </v-card-title>
                    <v-card-subtitle>
                      <v-icon
                        v-if="null !== languageToMdiConverter(repo.language)"
                        :icon="'mdi-language-' + languageToMdiConverter(repo.language)"
                      ></v-icon>
                      <v-icon>mdi-star</v-icon>{{ repo.stargazers_count }} <v-icon>mdi-eye</v-icon
                      >{{ repo.watchers_count }} <v-icon>mdi-source-fork</v-icon
                      >{{ repo.forks_count }}
                    </v-card-subtitle>
                  </div>
                </div>
              </v-card>
            </a>
          </v-lazy>
        </div>
      </div>

      <h3 class="d-h3 text-theme">{{ t('$vuetify.views.portfolio.title-2') }}</h3>
      <div class="my-8">
        <div class="my-4">
          <p v-html="t('$vuetify.views.portfolio.section-2')"></p>
        </div>
        <div class="mklhx-projects-wrapper">
          <v-lazy
            :min-height="100"
            :options="{ threshold: 0.5 }"
            transition="fade-transition"
            class="project"
            v-for="(repo, i) in filteredGithubMklhxRepos"
            :key="i"
          >
            <a target="_blank" :href="repo.html_url">
              <v-card class="card px-1 py-2 ma-1">
                <div class="d-flex flex-no-wrap">
                  <v-avatar class="ma-1" size="55" rounded="1">
                    <v-img
                      cover
                      aspect-ratio="4/3"
                      :src="repo.owner.avatar_url"
                      :alt="repo.name + ' avatar'"
                    ></v-img>
                  </v-avatar>
                  <div>
                    <v-card-title class="card-title"> {{ repo.name }} </v-card-title>

                    <v-card-subtitle>
                      <v-icon
                        v-if="null != languageConverter[repo.language]"
                        :icon="'mdi-language-' + languageToMdiConverter(repo.language)"
                      ></v-icon>
                      <span v-else>{{ repo.language }}</span>
                      <v-icon>mdi-star</v-icon>{{ repo.stargazers_count }} <v-icon>mdi-eye</v-icon
                      >{{ repo.watchers }} <v-icon>mdi-source-fork</v-icon>{{ repo.forks }}
                    </v-card-subtitle>
                  </div>
                </div>
              </v-card>
            </a>
          </v-lazy>
        </div>
      </div>
      <div class="mb-10">
        <v-tooltip :text="t('$vuetify.btn.back-to-top')">
          <template v-slot:activator="{ props }">
            <v-btn
              id="back-to-top"
              v-bind="props"
              @click="scrollToTop"
              class="floating-btn float-right btn-theme mr-md-5"
              dark
              icon="mdi-arrow-up"
            ></v-btn>
          </template>
        </v-tooltip>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.portfolio {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.card {
  background-color: var(--vt-c-navy);
  color: var(--vt-c-beige);
}

.card-title {
  font-size: 0.75rem;
  font-weight: bold;
}
.floating-btn {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  transition: all 500ms ease-out;
}
.floating-btn-active {
  display: block;
  transition: all 500ms ease-in;
}
.greenponik-projects-wrapper,
.mklhx-projects-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  min-height: 10vh;
  min-width: 45vw;
}
.project {
  flex: auto;
  min-width: 230px;
}

.project:nth-child(4n + 1):nth-child(4n + 1) {
  width: 300px;
}
.project:nth-child(4n + 1):nth-child(4n + 2) {
  width: 320px;
}
.project:nth-child(4n + 1):nth-child(4n + 3) {
  width: 280px;
}
.project:nth-child(4n + 1):nth-child(4n + 4) {
  width: 243px;
}

.greenponik-projects-wrapper::before,
.greenponik-projects-wrapper::after,
.mklhx-projects-wrapper::before,
.mklhx-projects-wrapper::after {
  content: '';
  flex-basis: 100%;
  width: 0;
  order: 2;
}
@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--vt-c-beige);
    color: var(--vt-c-navy);
  }
}

@media (min-width: 1280px) {
  .floating-btn {
    right: 2rem;
    bottom: 2rem;
  }
}
</style>
