<script setup>
import { useRoute } from 'vue-router'
const currentRoute = useRoute()
</script>

<template>
  <div class="notfound">
    <h2 class="d-h2">Sorry but the route "{{ currentRoute.path }}" does'nt exist</h2>
    <v-img
      :width="600"
      aspect-ratio="4/3"
      cover
      src="https://64.media.tumblr.com/tumblr_lz2ufhclZj1r4mh0bo1_r1_400.gifv"
    >
    </v-img>
    <p>
      <a href="https://giphy.com/gifs/89a-eightninea-VwoJkTfZAUBSU" target="_blank" rel="noopener"
        >via GIPHY</a
      >
    </p>
  </div>
</template>
