<script setup>
import { ref, onMounted, computed } from 'vue'
import { useLocale, useDisplay } from 'vuetify'
import enLocale from '../../locales/en.json'
import frLocale from '../../locales/fr.json'

const { mobile } = useDisplay()
const { current, t } = useLocale()

const dialogs = ref([false, false, false, false])
// const randomizedColorFromTheme = () => {
//   const colors = [
//     '#191919',
//     '#2d4263',
//     '#c84b31',
//     '#ecdbba',
//     '#ebe4d1',
//     '#b4b4b3',
//     '#26577c',
//     '#e55604'
//   ]
//   return colors[Math.floor(Math.random() * colors.length)]
// }
onMounted(() => {
  // Array.from([...document.getElementsByClassName('v-timeline-divider__before')]).forEach(
  //   (element) => {
  //     element.style.backgroundColor = '#ecdbba'
  //   }
  // )
  // // #b4b4b3
  // Array.from([...document.getElementsByClassName('v-timeline-divider__after')]).forEach(
  //   (element) => {
  //     element.style.backgroundColor = '#ecdbba'
  //   }
  // )
  // // #b4b4b3
  // jobs.forEach((job, i) => {
  //   job.color = randomizedColorFromTheme()
  // })
})

const jobs = computed(() => {
  return current.value === 'fr' ? frLocale.views.resume.jobs : enLocale.views.resume.jobs
})
</script>

<template>
  <div class="resume">
    <h2 class="text-theme d-h2">{{ t('$vuetify.views.resume.title') }}</h2>
    <div class="">
      <v-timeline density="compact" align="center">
        <v-timeline-item
          v-for="(job, i) in jobs"
          :key="i"
          :dot-color="job.color"
          density="compact"
          size="x-small"
          :hide-dot="mobile ? true : false"
        >
          <v-card
            class="card my-theme px-md-1 py-md-2 ma-md-1"
            :width="mobile ? '85vw' : '47vw'"
            @click="dialogs[i] = true"
          >
            <div class="d-flex flex-no-wrap flex-column">
              <v-card-title class="card-title">
                <div class="d-flex flex-row">
                  <v-avatar class="ma-1" :size="mobile ? 45 : 75" rounded="1">
                    <v-img
                      cover
                      aspect-ratio="4/3"
                      :src="job.logo"
                      :alt="job.title + ' logo'"
                    ></v-img>
                  </v-avatar>
                  <div class="d-flex flex-column">
                    <span ong class="job-title">{{ job.title }}</span>
                    <span class="job-duration">
                      <v-icon>mdi-calendar</v-icon> {{ job.duration }}
                      <span>@{{ job.company }}</span>
                    </span>
                  </div>
                </div>
              </v-card-title>
              <v-card-text>
                <div class="mb-4">
                  <div
                    class="font-weight-normal"
                    v-html="job.description.slice(0, 180) + '...'"
                  ></div>
                </div>
              </v-card-text>
            </div>
          </v-card>
          <v-dialog
            v-model="dialogs[i]"
            width="auto"
            :min-width="mobile ? '95vw' : '65vw'"
            :min-height="mobile ? '80vh' : ''"
          >
            <v-card class="my-theme pa-1 pa-md-10">
              <v-card-title class="card-title">
                <div class="d-flex flex-row">
                  <v-avatar class="ma-1" :size="mobile ? 45 : 75" rounded="1">
                    <v-img
                      cover
                      aspect-ratio="4/3"
                      :src="job.logo"
                      :alt="job.title + ' logo'"
                    ></v-img>
                  </v-avatar>
                  <div class="d-flex flex-column">
                    <strong>{{ job.title }}</strong>
                    <p>
                      <v-icon>mdi-calendar</v-icon> {{ job.duration }}
                      <span>@{{ job.company }}</span>
                    </p>
                  </div>
                </div>
              </v-card-title>
              <v-card-text class="pa-0">
                <span v-html="job.description"></span>
                <v-list class="my-theme">
                  <v-list-item v-for="(task, i) in job.tasks" v-bind:key="i">
                    <span v-html="task"></span>
                  </v-list-item>
                </v-list>
              </v-card-text>
              <v-card-actions v-if="mobile">
                <v-spacer></v-spacer>
                <v-tooltip :text="t('$vuetify.btn.close')">
                  <template v-slot:activator="{ props }">
                    <v-btn
                      @click="dialogs[i] = false"
                      v-bind="props"
                      class="btn-theme"
                      dark
                      icon="mdi-close"
                    ></v-btn>
                  </template>
                </v-tooltip>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-timeline-item>
      </v-timeline>
      <div class="mb-10">
        <v-tooltip :text="t('$vuetify.btn.download')">
          <template v-slot:activator="{ props }">
            <v-btn
              v-bind="props"
              class="float-right btn-theme mr-md-5"
              dark
              href="/images/mickael_lehoux_CTO_lead_developpeur_fullstack_senior.pdf"
              download="mickael_lehoux_CTO_lead_developpeur_fullstack_senior.pdf"
              icon="mdi-download"
            ></v-btn>
          </template>
        </v-tooltip>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.my-theme {
  background-color: var(--vt-c-navy);
  color: var(--vt-c-beige);
}
.card {
  transition: all 300ms ease-out;
  cursor: pointer;
}
.card:hover {
  transition: all 300ms ease-in;
  transform: scale(1.03);
}
.card-title {
  font-size: 0.9rem;
}
.v-card-title {
  padding: 0.5rem;
}

.job-title {
  font-size: 0.8rem;
  font-weight: bold;
}
.job-duration {
  font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  .my-theme {
    background-color: var(--vt-c-beige);
    color: var(--vt-c-navy);
  }
}
</style>
