<script setup>
import TechnoItem from '@/components/techno/TechnoItem.vue'
import { useLocale } from 'vuetify'
const { t } = useLocale()
</script>

<template>
  <div class="about">
    <h1 class="text-theme">{{ t('$vuetify.views.about.title') }}</h1>
    <p class="my-3 text-subtitle-1">
      <span v-html="t('$vuetify.views.about.paragraph-1')"></span>
    </p>
    <p class="my-3 text-subtitle-1">
      <span v-html="t('$vuetify.views.about.paragraph-2')"></span>
    </p>
    <p class="my-3 text-subtitle-1">
      <span v-html="t('$vuetify.views.about.paragraph-3')"></span>
    </p>
    <p class="my-3 text-subtitle-1">
      <span v-html="t('$vuetify.views.about.paragraph-4')"></span>
    </p>
    <p class="my-3 text-subtitle-1">
      <span v-html="t('$vuetify.views.about.paragraph-5')"></span>
    </p>
    <TechnoItem />
    <p class="my-3 text-subtitle-1">
      <span v-html="t('$vuetify.views.about.paragraph-6')"></span>
    </p>
  </div>
</template>

<style></style>
