<script setup>
import HomeListItem from '@/components/home/HomeListItem.vue'
import DocumentationIcon from '../icons/IconDocumentation.vue'
import EcosystemIcon from '../icons/IconEcosystem.vue'
import CommunityIcon from '../icons/IconCommunity.vue'
import { useLocale } from 'vuetify'
const { t } = useLocale()
</script>

<template>
  <div class="home pa-md-3">
    <HomeListItem>
      <template #icon>
        <DocumentationIcon />
      </template>
      <template #heading
        ><router-link to="/about">{{ t('$vuetify.views.about.title') }}</router-link></template
      >
      <span v-html="t('$vuetify.views.about.lead')"></span>
      <br />
      <router-link to="/about">{{ t('$vuetify.views.about.more') }}</router-link>
    </HomeListItem>

    <HomeListItem>
      <template #icon>
        <DocumentationIcon />
      </template>
      <template #heading
        ><router-link to="/resume">{{ t('$vuetify.views.resume.title') }}</router-link></template
      >

      <router-link to="/resume">{{ t('$vuetify.views.resume.more') }}</router-link>
      <span v-html="t('$vuetify.views.resume.lead')"></span>
    </HomeListItem>

    <HomeListItem>
      <template #icon>
        <EcosystemIcon />
      </template>
      <template #heading
        ><router-link to="/portfolio">{{
          t('$vuetify.views.portfolio.title')
        }}</router-link></template
      >
      <span v-html="t('$vuetify.views.portfolio.lead')"></span>
      <br />
      <router-link to="/portfolio">{{ t('$vuetify.views.portfolio.more') }}</router-link>
    </HomeListItem>

    <HomeListItem>
      <template #icon>
        <CommunityIcon />
      </template>
      <template #heading>
        <router-link to="/contact">{{ t('$vuetify.views.contact.title') }}</router-link>
      </template>
      <span v-html="t('$vuetify.views.contact.lead')"></span>
      <span v-html="t('$vuetify.views.contact.more')"></span>
    </HomeListItem>
  </div>
</template>
