<script setup>
import { ref, watch } from 'vue'
import { useLocale } from 'vuetify'
const { t } = useLocale()

const sending = ref(false)
const email = ref('')
const msg = ref('')
const captcha = ref('')
const captchaDisplay = ref(false)
const captchaLabel = ref('')
const captchaValue = ref(0)
const captachIsValid = ref(false)

const emailRules = ref([
  (value) => {
    if (value) return true
    return 'E-mail is required.'
  },
  (value) => {
    if (/.+@.+\..+/.test(value)) return true
    return 'E-mail must be valid.'
  }
])
const msgRules = ref([
  (value) => {
    if (value) return true
    return 'Message is required.'
  }
])

const captchaRules = ref([
  (value) => {
    if (value) return true
    return 'Captcha is required.'
  },
  (value) => {
    if (value === captchaValue.value.toString()) return true
    return 'Captcha is incorrect.'
  }
])

watch(email, () => {
  displayCaptcha()
})
watch(msg, () => {
  displayCaptcha()
})
watch(captchaValue, () => {
  validateCaptcha()
})

const randomCaptcha = () => {
  const min = 1
  const max = 50
  const rand = Math.floor(Math.random() * (max - min + 1)) + min
  return rand
}

const makeSum = () => {
  const rand = randomCaptcha()
  const rand2 = randomCaptcha()
  const sum = rand + rand2
  captchaLabel.value = t('$vuetify.views.contact.captcha') + `${rand}+${rand2}`
  captchaValue.value = sum
  return sum
}

const displayCaptcha = () => {
  if (email.value && msg.value) {
    captchaDisplay.value = true
  }
}
const validateCaptcha = () => {
  if (captcha.value === captchaValue.value.toString()) {
    captachIsValid.value = true
  } else {
    captachIsValid.value = false
  }
}
</script>

<template>
  <div class="contact">
    <h2 class="text-theme d-h2">{{ t('$vuetify.views.contact.title') }}</h2>
    <form class="my-4" v-on:submit.prevent="submit">
      <div class="px-5">
        <v-text-field
          id="email"
          type="email"
          :label="t('$vuetify.views.contact.email')"
          required
          :disabled="sending"
          v-model="email"
          :rules="emailRules"
        ></v-text-field>
        <v-textarea
          id="msg"
          type="text"
          :label="t('$vuetify.views.contact.message')"
          required
          :disabled="sending"
          v-model="msg"
          :rules="msgRules"
          @mousedown:control="makeSum()"
        ></v-textarea>
        <v-text-field
          v-if="captchaDisplay"
          id="captcha"
          type="text"
          :label="captchaLabel"
          required
          :disabled="sending"
          v-model="captcha"
          :rules="captchaRules"
          @update:modelValue="validateCaptcha()"
        ></v-text-field>
      </div>
      <div class="mb-10">
        <v-tooltip :text="t('$vuetify.btn.send')">
          <template v-slot:activator="{ props }">
            <v-btn
              v-bind="props"
              :disabled="!captachIsValid || sending"
              icon="mdi-send"
              type="submit"
              dark
              class="float-right btn-theme mr-md-5"
              @click="displayCaptcha()"
              :href="
                'mailto:mickael@lehoux.net?cc=' +
                email +
                '&subject=' +
                t('$vuetify.views.contact.subject') +
                '&body=' +
                msg
              "
            ></v-btn>
          </template>
        </v-tooltip>
      </div>
    </form>
  </div>
</template>
<style lang="scss"></style>
