<script setup>
import { RouterLink } from 'vue-router'
import { useLocale, useDisplay } from 'vuetify'
const { current, t } = useLocale()
const { mobile } = useDisplay()
const changeLocale = (locale) => {
  current.value = locale.value
  localStorage.setItem('locale', locale.value)
}
const availableLanguages = [
  { title: 'french', value: 'fr' },
  { title: 'english', value: 'en' }
]
</script>

<template>
  <div class="id">
    <div class="text-center">
      <v-avatar class="ma-3 ma-md-1" :size="mobile?110:150" rounded="1">
        <v-img cover aspect-ratio="4/3" src="/images/ml.png" alt="mickael lehoux picture"></v-img>
      </v-avatar>

      <h1 class="text-theme text-center d-h1" v-html="t('$vuetify.sideitem.id')"></h1>
      <h2 class="text-center d-h3" v-html="t('$vuetify.sideitem.job')"></h2>
    </div>
  </div>
  <nav class="my-4 mb-md-0">
    <a href="https://linkedin.com/in/mickael-lehoux" target="_blank" rel="noopener"><v-icon size="x-large">mdi-linkedin</v-icon></a>
    <a href="https://github.com/mklhx" target="_blank" rel="noopener"><v-icon size="x-large">mdi-github</v-icon></a>
    <a href="https://gitlab.com/mklhx" target="_blank" rel="noopener"><v-icon size="x-large">mdi-gitlab</v-icon></a>
  </nav>
  <nav class="my-3 mb-md-0">
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-icon class="language-selector" v-bind="props" icon="mdi-earth"></v-icon>
      </template>
      <v-list class="list">
        <v-list-item
          v-for="(item, index) in availableLanguages"
          :key="index"
          :value="item"
          @click="changeLocale(item)"
          class="list-item"
        >
          <v-list-item-title>{{ t(`$vuetify.lang.${item.title}`) }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <RouterLink to="/">{{ t('$vuetify.nav.home') }}</RouterLink>
    <RouterLink to="/about">{{ t('$vuetify.nav.about') }}</RouterLink>
    <RouterLink to="/resume">{{ t('$vuetify.nav.resume') }}</RouterLink>
    <RouterLink to="/portfolio">{{ t('$vuetify.nav.portfolio') }}</RouterLink>
    <RouterLink to="/contact">{{ t('$vuetify.nav.contact') }}</RouterLink>
  </nav>
</template>

<style scoped>
.id, nav {
  text-align: center;
}
.id {
  margin: auto;
}
.language-selector {
  cursor: pointer;
  margin-top: -6px;
}
</style>
