<script setup>
const props = defineProps(['color'])
</script>
<template>
  <svg height="50" width="50" viewBox="0 0 420 550" :fill="props.color" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m265.4047546 376.6333008c-33.6534271-53.7580566-19.4266968-178.8873138 68.4917297-196.7728577 24.1051941-3.8615723 53.6189575 11.9758301 62.3154907 47.1588593 21.9614869 74.6418609-107.2321471 179.1595611-130.8072204 149.6139984zm-100.7094574 0c-23.5750732 29.5455627-152.7687034-74.9721375-130.8072128-149.6139984 8.6965294-35.1830292 38.2102966-51.0204315 62.315506-47.1588593 87.9184189 17.8855438 102.1451645 143.014801 68.4917068 196.7728577zm157.2707673-316.7884636c19.0644531-1.7963371 32.5695496-22.0072021 25.0297852-40.9824867-8.4657288-21.3058624-37.0139771-25.4879189-51.2634888-7.5096741-11.6965637 14.7572803-6.6656494 35.6101227 8.0907898 44.3886909l-14.675293 52.8810463c-58.3753357-13.6529388-98.875885-12.6459045-154.5659637 1.2312164l-14.55822-54.7525558c16.3297348-10.2742348 19.1274948-34.3550339 3.6230316-47.8069801-17.316925-15.0244751-44.589653-5.6069407-48.9731293 16.9108505-3.7117767 19.0671272 11.3148346 35.5248451 29.185112 35.5725746l14.5815964 54.9110718c-56.8055649 18.8588638-118.4402847 60.0877609-118.4402847 150.2947464 1.2627107 130.3484497 172.490921 246.9443359 211.996048 247.0135498 39.4385834 0 212.0060577-119.1524963 212.4289703-247.0135498 0-91.61203-60.9017944-132.7510834-117.4842834-151.2101746zm-184.5623932 229.700573c0-20.8826904-22.7619781-34.0052032-40.87323-23.5638733-18.1112442 10.4413452-18.1112442 36.6864014.0000076 47.1277466s40.8732224-2.6812134 40.8732224-23.5638733zm208.0015411 0c0-20.8826904-22.7619934-34.0052032-40.87323-23.5638733-18.1112671 10.4413452-18.1112671 36.6864014 0 47.1277466 18.1112366 10.4413452 40.87323-2.6812134 40.87323-23.5638733z"
    />
  </svg>
</template>
