<script setup>
const props = defineProps(['color'])
</script>
<template>
  <svg role="img" height="50" viewBox="10 -1 80 80" width="50" xmlns="http://www.w3.org/2000/svg">
    <path d="m75.22 60.5h-42.44v-2.5l21.22-15.67 21.22 15.67z" :fill="props.color" />
    <path d="m77.84 78.9h-37.54v-2.48l19.08-13.13 18.46 13.13z" :fill="props.color" />
    <path d="m40.3 60.5h37.54v15.92h-37.54z" :fill="props.color" />
    <g fill="#ffffff">
      <path
        d="m42.14 63.06h2.67l1.89 7.94 1.86-7.94h2.64v10.71h-1.62v-8.91l-2.16 8.91h-1.47l-2.16-8.91v8.91h-1.65z"
      />
      <path
        d="m58.55 73.62a3.31 3.31 0 0 1 -1.68.36c-2.46 0-3.54-1.74-3.54-5.56s1.08-5.57 3.54-5.57 3.54 1.74 3.54 5.57a8.69 8.69 0 0 1 -.84 4.24l1.1 1.16-1 .92zm-.9-2.8.71.71a9.76 9.76 0 0 0 .35-3.15c0-3.6-.81-4.23-1.83-4.23s-1.88.62-1.88 4.22.81 4.32 1.83 4.32a1.67 1.67 0 0 0 .61-.1l-.81-.79z"
      />
      <path d="m64.29 64.5h-2.55v-1.44h6.76v1.44h-2.5v9.27h-1.71z" />
      <path d="m71.85 64.5h-2.55v-1.44h6.76v1.44h-2.5v9.27h-1.71z" />
    </g>
    <path
      d="m75.22 58v-25.78a9.12 9.12 0 0 0 -9.12-9.12h-34.76a9.12 9.12 0 0 0 -9.12 9.12v34.78a9.12 9.12 0 0 0 9.12 9.12h7v-18.12z"
      :fill="props.color"
    />
    <path
      d="m75.22 58v-28.26a9.12 9.12 0 0 0 -9.12-9.12h-34.76a9.12 9.12 0 0 0 -9.12 9.12v34.76a9.12 9.12 0 0 0 9.12 9.12h7v-15.62z"
      :fill="props.color"
    />
  </svg>
</template>
