<script setup>
const props = defineProps(['color'])
</script>
<template>
  <svg height="45" viewBox="0 0 32 32" width="45" :fill="props.color" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m19.083 0-16.015 16 4.932 4.932 20.912-20.916h-9.808zm.021 14.76-8.631 8.609 8.631 8.631h9.828l-8.615-8.625 8.615-8.615z"
    />
  </svg>
</template>
