<script setup>
const props = defineProps(['color'])
</script>

<template>
  <svg width="42" height="42" :fill="props.color" viewBox="0 0 507 512" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m250.89768 93.570926c123.33485-4.2677 111.02113 88.096744 109.05833 180.20535h-204.00291c-7.25089-133.18778 5.2455-171.04459 94.94458-180.20535zm-160.55995 180.20535c-5.75272-150.13005 6.16946-254.1433 175.48955-251.87047-159.20136 11.9595-156.66024 144.06258-153.82417 251.87047zm165.12062-273.77628c-112.83508 1.35763-162.60354 46.70034-181.43955 113.65201-12.465436 44.30778-9.795099 100.90245-8.592918 160.12427-58.760483 15.49921-61.790157 44.5617-65.42588 82.21269 10.912033 19.14188 22.904577 36.29236 35.735773 51.63639-.402801-94.25847 17.008469-95.01529 79.651517-96.63786l244.56872-.009v28.50696l-240.83831-.01c-62.260985 3.33978-58.200628 18.67374-58.094995 95.04686 142.7142 134.56918 363.58428 79.37624 445.03146-54.96313 4.35204-59.2559-12.56582-100.87594-59.91379-105.78291 4.3318-113.1212-1.30051-157.50729-18.91184-190.43147-30.46377-56.95166-92.76772-82.94209-171.77019-83.34481z"
    />
  </svg>
</template>
