<script setup>
const props = defineProps(['color'])
</script>
<template>
  <svg height="45" viewBox="0 0 32 32" width="45" :fill="props.color" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m16 0-13.86 8v16l13.86 8 13.86-8v-16zm8 22.12c0 .943-.86 1.719-2.036 1.719-.844 0-1.803-.339-2.401-1.079l-8-9.52v8.88c0 .959-.76 1.719-1.703 1.719h-.1c-.963 0-1.719-.803-1.719-1.719v-12.24c0-.943.839-1.719 2-1.719.86 0 1.839.339 2.437 1.079l7.959 9.52v-8.88c0-.963.803-1.719 1.724-1.719h.099c.959 0 1.719.797 1.719 1.719v12.24z"
    />
  </svg>
</template>
