<script setup>
const props = defineProps(['color'])
</script>
<template>
  <svg
    enable-background="new 0 0 512 512"
    height="50"
    viewBox="0 0 512 512"
    width="50"
    :fill="props.color"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="m441.845 11.6c-21.957-19.583-48.547-11.717-74.787 11.573-3.892 3.459-7.784 7.298-11.647 11.398-6.067 6.433-12.064 13.629-17.952 21.391-6.109-2.524-12.788-3.93-19.786-3.93h-217.61c-28.769 0-52.308 23.54-52.308 52.308v217.613c0 28.769 23.539 52.307 52.308 52.307h153.077c1.838 10.146 2.911 17.365 2.911 17.365s.137 1.893.366 4.8c-.844 19.669-.337 40.063 1.185 58.493 2.02 24.402 5.815 45.361 10.658 56.581l3.285-1.797c-7.106-22.098-9.997-51.063-8.73-84.468 1.913-51.054 13.663-112.629 35.37-176.804 36.678-96.879 87.566-174.608 134.142-211.731-42.45 38.337-99.904 162.432-117.1 208.386-19.259 51.459-32.902 99.749-41.13 146.016 14.187-43.374 60.067-62.017 60.067-62.017s22.506-27.749 48.805-67.4c-15.753 3.588-41.619 9.743-50.285 13.382-12.779 5.36-16.223 7.189-16.223 7.189s41.398-25.211 76.916-36.624c48.847-76.93 102.062-186.223 48.468-234.031zm-185.938 226.17c5.042 10.226 8.98 23.275 11.575 33.243.663 2.562 1.264 4.961 1.742 7.003 1.142 4.832 1.753 7.968 1.753 7.968s-.401-1.522-2.053-6.313c-.313-.919-.665-1.922-1.081-3.103-.177-.49-.422-1.081-.692-1.713-2.93-6.804-11.028-21.173-14.594-27.426-3.048 8.993-5.743 17.407-7.997 25.021 10.29 18.826 16.562 51.096 16.562 51.096s-.545-2.092-3.129-9.39c-2.298-6.454-13.732-26.494-16.441-31.177-4.633 17.108-6.473 28.652-4.813 31.472 2.449 4.134 4.807 10.559 6.982 17.965h-143.658c-5.67 0-10.461-4.794-10.461-10.463v-217.612c0-5.67 4.791-10.461 10.461-10.461h212.236c-26.49 45.152-47.79 99.117-56.392 143.89z"
    />
  </svg>
</template>
