<script setup>
const props = defineProps(['color'])
</script>

<template>
  <svg viewBox="0 0 24 24" width="50" height="50" :fill="props.color" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m23.82 12a5.78 5.78 0 0 0 -5.88-5.67c-.29 0-.6.02-.9.05-2.52.37-4.2 2.18-5.13 3.57-.95-1.39-2.64-3.2-5.14-3.57-.3-.03-.6-.05-.9-.05a5.78 5.78 0 0 0 -5.87 5.67 5.78 5.78 0 0 0 5.87 5.67c.3 0 .6-.02.92-.06 2.52-.36 4.2-2.17 5.14-3.56.95 1.39 2.63 3.2 5.14 3.57.31.03.6.05.91.05a5.78 5.78 0 0 0 5.84-5.67zm-17.34 3.6c-.2.04-.43.04-.63.04a3.77 3.77 0 0 1 -3.85-3.66 3.78 3.78 0 0 1 3.86-3.66c.2 0 .42.02.63.04 2.37.35 3.82 2.67 4.31 3.62-.5.95-1.95 3.3-4.31 3.62zm6.52-3.6c.49-.93 1.94-3.27 4.31-3.62.2-.04.42-.04.62-.04a3.76 3.76 0 0 1 3.87 3.66 3.78 3.78 0 0 1 -3.86 3.66c-.2 0-.42-.02-.62-.04-2.36-.35-3.82-2.69-4.31-3.62zm-8.79.59h3.54v-1.16h-3.53v1.16zm14.13 0h1.19v-1.16h-1.2v-1.19h-1.13v1.2h-1.2v1.15h1.2v1.18h1.15v-1.17zm5.66-5.53c0 .3-.22.51-.53.51a.51.51 0 0 1 -.53-.5c0-.28.24-.52.53-.52.31 0 .53.22.53.51zm-.91 0c0 .22.16.4.4.4.22 0 .38-.18.38-.4s-.16-.4-.38-.4c-.24-.02-.4.16-.4.4zm.3.26h-.1v-.52l.2-.01c.09 0 .14.01.18.03s.06.06.06.11c0 .06-.04.1-.11.11.05.02.07.06.09.13l.03.13h-.12c-.02-.02-.02-.07-.04-.13-.02-.05-.04-.07-.11-.07h-.05l-.02.22zm.02-.3h.06c.07 0 .1-.01.1-.07 0-.05-.03-.07-.1-.07h-.07v.14z"
    />
  </svg>
</template>
