<script setup>
import { RouterView } from 'vue-router'
import { onMounted } from 'vue'
import { useLocale } from 'vuetify'
const { current } = useLocale()

import SideItem from './components/SideItem.vue'

const localeFromStorage = onMounted(() => {
  if (localStorage.getItem('locale') === null) {
    current.value = 'fr'
    localStorage.setItem('locale', 'fr')
  } else {
    current.value = localStorage.getItem('locale')
  }
})
localeFromStorage()
</script>

<template>
  <header>
    <div class="wrapper">
      <SideItem />
    </div>
  </header>
  <main>
    <RouterView />
  </main>
</template>

<style scoped></style>
